.slider {
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
}

.slider__inactive {
  opacity: 0;
}

.slider__active {
  opacity: 1;
  overflow: hidden;
}

.slider__img {
  width: 100vw;
  height: 100vh;
  filter: brightness(50%);
  transition: .5s;
  object-fit: cover;
  
}

.slider__img:hover {
  transform: scale(1.2);
  margin: 1.1rem;
}

.slider__right-arrow {
  position: absolute;
  top: 45%;
  right: 2vw;
  font-size: 5vh;
  color: var(--indigo-color); 
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slider__left-arrow {
  position: absolute;
  top: 45%;
  left: 2vw;
  font-size: 5vh;
  color: var(--indigo-color); 
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slider__right-arrow:hover, .slider__left-arrow:hover {
  color: white;
}

.slider__txt {
  position: absolute;
  top: 20%;
  left: 10%;
}

